body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(25, 20px);
    grid-template-rows: repeat(25, 20px);
    gap: 2px;
    background-color: #fafafa;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.4);
}

.grid div {
    width: 20px;
    height: 20px;
    background-color: #7b7b7b;
    border-radius: 4px;
}

.grid div.revealed {
    background-color: #262626;
    color: #ffffff; 
    cursor: default; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    pointer-events: none; 
}

.grid div:hover {
    background-color: #008cff;
    cursor: pointer;
}

.grid div.revealed:hover {
    background-color: #333333;
    cursor: default; 
}

.grid div.flagged {
    background-color: #007200;
    pointer-events: none;
    cursor: default;
}

.grid div.flagged:hover {
    background-color: #007200;
    cursor: default;
}